<main>
  <ul>
    {{#each routes}}
    <div id='map' class='map'></div>
    <script src="https://api-maps.yandex.ru/2.1/?apikey=75ff8d8f-55b5-40d7-afee-fd53548eedff&lang=ru_RU"></script>
    <script src="/application/map.js"></script>
    <li>
      <a href="/route/{{id}}">{{this.title}}, {{this.city}},{{this.length}}, {{rating}} *</a>
    </li>
    {{/each}}
  </ul>
</main>
