<div class="container">
  <div class="row">
    <div class="col">
      <h2>Hi, {{name}}!</h2>

      <h1 class="lirofile">Profile</h1>
<div class="info">

<h3>User name: {{name}}</h3>
<h3>User email: {{email}}</h3>
<h3 >User id: 0000{{id}}</h3>




</div>
</div>
 </div>
<h3 class="createdRoutes">Your created routes</h3>

{{#each allRoutes}}
<div class="createdRoutelirofile">
<h3>{{this.title}}</h3>
<li class="textlirofile">City: {{this.city}}</li>
<li class="textlirofile">Length: {{this.length}}</li>
<li class="textlirofile">Rating: {{this.rating}}</li>
<li class="textlirofile">Description: {{this.descrilition}}</li>
<li class="textlirofile">Author's id: {{this.author}}</li>
</div>
{{/each}}


<button class="btn btn-primary">Add new route</button>





      {{!-- <div class="row gx-5">1{{id}}</div>
      <div class="row gx-5">2 Mali</div>
    </div>
    <div class="col">
      <div class="row gx-5">3</div>
      <div class="row gx-5">4</div>

    </div>
  </div>
</div> --}}
